.image_wrap .ui-content {
    padding:0px;
}

div#preloader {
	position: absolute;
	left: -9999px;
	top:  -9999px;
	}
div#preloader img {
	display: block;
	}
div.information {
        width: 100%;
        text-align: center;
        position: absolute;
        background: rgba(255,255,255,.6);
        z-index: 9999;
}
.image_nav .nav_count {
position: absolute;
font-size: 50px;
z-index: 5000;
font-weight: bold;
padding: 10px;
color: #cbcaca;

    z-index: 1000;
}
.image_nav .nav_arrows {
position: absolute;
font-size: 50px;
z-index: 5000;
font-weight: bold;
padding: 10px;
color: #cbcaca;
}
.image_nav .back {
    left:0px;
    cursor:pointer;
}

.image_nav .forward {
    right:0px;
    cursor:pointer;
}
.image_nav .nav_count {
font-size: 20px;
text-align: center;
width: 100%;
}